textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.calculator-container {
	overflow: hidden;
    position: relative;
}

.calculator-container input {
	font-family: "Simplon-Light";
}

fieldset > * {
	vertical-align: middle;
}

label {
	display: inline-block;
	width: 58px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 85%;
  margin: 5.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #01426a;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #01426a;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #fa5a36;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.8px;
}

.compare-bar {
    background-color: #59bec9;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 25px;
}

.compare-bar p {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.compare-bar h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
	font-family: Simplon-Light;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #01426a;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #01426a;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #01426a;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #fa5a36;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #01426a;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #01426a;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0.5px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #01426a;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #fa5a36;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #01426a;
}
input[type=range]:focus::-ms-fill-upper {
  background: #01426a;
}

.rs-control .rs-range-color {
    background-color: #fa5a36;
}
.rs-control .rs-path-color {
    background-color: #01426a;
}
.rs-control .rs-handle {
    background-color: #fa5a36;
}


div#slider-ul-months {
    position: absolute;
    top: 40px;
    left: 50px;
}

div#slider-ca-months {
	position: absolute;
	top: 40px;
	left: 50px;
}

.overlay-content {
    position: absolute;
    width: 240px;
    z-index: 9999;
    height: 140px;
    top: 65px;
    left: 95px;
    text-align: center;
}

.overlay-content input {
	background: none;
}

.calculator-container fieldset {
    margin-top: 40px;
    position: absolute;
    top: 205px;
    z-index: 9999;
    width: 90%;
}

.text-blurb {
	margin-top: 10px;
}

.rs-tooltip.rs-tooltip-text {
    display: none;
}

input#overlay-ca-amount {
	display: inline-block;
	padding: 0;
	width: 105px;
	text-align: center;
}

input#overlay-ul-months {
	width: 20px;
	margin: 0 auto;
	line-height: 1.0;
	display: inline-block;
	padding: 0;
}

input#overlay-ca-months {
	width: 25px;
	margin: 0 auto;
	line-height: 1.0;
	display: inline-block;
	padding: 0;
}

.rs-handle.rs-move.rs-handle-square {
    display: none;
}

.block {
	width: 160px;
	margin: 0 auto;
	background: none;
    border-bottom: 1px dashed #c8cac8;
    text-align: center;
	margin-top: 5px;
}

.block label {
	display: inline-block;
	font-family: "Simplon-Light";
}

.block label.amount-heading {
	width: 20px;
	text-align: right;
}

.block label.month-heading {
	width: 75px;
	text-align: left;
}

.block label.days-heading {
	width: 45px;
	text-align: left;
}

.block input#overlay-ul-amount {
	display: inline-block;
	padding: 0;
	width: 105px;
	text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.setup-bar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01426a;
  -webkit-transition: .4s;
  transition: .4s;
	height: 33px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fa5a36;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setup-bar {
	text-align: center;
    width: 80px;
    margin: 0 auto;
}

.setup-bar p {
	margin-bottom: 5px;
	color: #01426a;
	font-size: 14px;
    font-weight: bold;
}


