.site-section.site-section-product-page {
    padding-top: 25px !important;
}

.container .table tbody {
	background-color: #fff;
}

.container .table td {
	padding: 0 20px;
	border-right: 2px solid #dfe1de;
	border-bottom: 2px solid #b6b8b5;
	vertical-align: top;
}

.container .table td h1 {
	margin-bottom: 0;
	font-size: 2.2rem !important;
	margin-top: 12px;
	margin-bottom: 0 !important;
}

.container .table td.details-section {
    background-color: #dfe1de;
}

.container .table td h1.instant-quote-options {
	color: #ff5937;
}

.container .table td h1.other-product-options {
	color: #01426a;
}

.container .table td p.body-text {
	margin-top: 15px;
    color: #01426a;
    font-weight: bold;
	text-align: center;
}

.container .table th p {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
	margin-left: 20px;
}

.container .table th.amount-header p {
	text-align: center;
	margin-left: 0;
}

.container .table td.details-section p.body-text {
	text-align: left;
}

.container .table td.spacer {
    height: 30px;
    padding: 0;
    background-color: #01426a;
    border-right: 0;
    border-bottom: 0;
}

.container .table td.cta-section {
    border-right: 0;
    border-bottom: 0;
}

.container .table td.cta-section a.btn.btn--brand-primary.btn--caps.btn--btn-md.btn--min-width.instant-quote-cta.btn--product-cta {
    position: absolute;
    top: 60px;
}

.container .table tr.last td {
    border-bottom: 0;
}

.container .table tr td {
	transition: all 0.1s;
}

.container .table tr:hover td.product-section,
.container .table tr:hover td.details-section,
.container .table tr:hover td.amount-section {
	background-color: #59beca;
	border-right: 2px solid #59beca;
	cursor: pointer;
}

.container .table tr:hover td h1 {
	color: #fff;
}

.container .table tr:hover td p.body-text {
    color: #fff;
}

@media(max-width: 768px) {
	.container .table td.cta-section {
		display: none;
	}
}
